/*content page*/
main{
    min-height: 100dvh;
}

/*cards*/
.card-spaces{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*card list*/
.card-list{
    width: 90%;
    margin: auto;
}

/*styles footer*/
/*footer{*/
/*    position: relative;*/
/*}*/
.footer-oval{
    position: relative;
}
.custom-shape-divider-top-1705452502 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705452502 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1705452502 .shape-fill {
    fill: #ffffff;
}




