/*content page*/

main{
    min-height: 100dvh;
}

/*cards*/
.card-spaces{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*card list*/
.card-list{
    width: 80%;
    margin: auto;
}

/*styles footer*/

.footer-oval{
    position: relative;
}
.custom-shape-divider-top-1705452502 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705452502 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1705452502 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-top-1705452502 .shape-fill-dark {
    fill: rgba(15, 23, 42, 1);
}

/*display button category*/
.fadeIn{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.fadeIn.show{
    opacity: 1;
}

.slide-bottom {
    position: relative;
    z-index: 999;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
    }
}

/*background pages*/
.bg-pages{
    background: linear-gradient(25deg, rgba(15, 23, 42, 1) 45%, rgba(23, 37, 61, 1) 62%, rgba(15, 23, 42, 1) 71%);
}
.bg-pages-light{
    background: linear-gradient(25deg, rgba(30, 41, 59, 0) 33%, rgba(30, 41, 59, 0.04) 59%, rgba(30, 41, 59, 0) 84%);
}
/*mode light and dark*/
/*mode light*/
.text-light{
    color: #0A66C2;
}
/*mode dark*/
.text-dark{
    color: #ffffff;
}
.text-primary-dark{
    color: #65B0F6;
}

/*background cards*/
.bg-cards{
    background: #1f283f;
}

/*background header*/
.bg-header{
    background: #0F172A;
}

.border-nav-b{
    border-bottom: 0.4px solid #565656;
}

.border-cards{
    border: 0.4px solid #474E54;
}
.border-cards-light{
    border: 0.4px solid #D1D2D4;
}
.bg-footer-light{}
.bg-footer-dark{
    background: #262E3F;
}
